*{
	padding:0;
	margin:0;
}

//seccion relacionada a index 1 portada
.index1{
	background-image:url(../img/simon-rae-254529.jpg);
	@include imagen();
}


.index1{
	.logo{
	color:$color-blanco;
		.titulo-logo{
			color:$color-blanco;
			font-weight:bolder;
		}
	}
}

//termino seccion uno portada
